# Gitignore here for our rsync script 

# Our build agent 
bctl/daemon/daemon-windows
bctl/daemon/daemon-linux
bctl/daemon/daemon-macos
bctl/daemon/daemon
bctl/agent/agent

# Macos fluff
*.DS_Store

# Ignore any coverage files
bctl/bctlcov.out
bctl/bctlcoverage.xml
bzerolib/bzerolibcov.out
bzerolib/bzerolibcoverage.xml

.vscode/